<a href="https://colab.research.google.com/github/bartala/Bankkruptcy/blob/main/YahooFinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

collect stock values

In [ ]:
!pip install yfinance

In [ ]:
import yfinance as yf
import requests
import os
PTH = "/content/drive/MyDrive/Colab Notebooks/BIU_HEB/data/stocks"

## Search company stock symbol based on company name

In [ ]:
company_name = [
    "American Airlines Group Inc.",
    "Royal Dutch Shell",
    "Carnival Corporation & plc",
    "Booking Holdings",
    "Delta Air Lines, Inc.",
    "Expedia Group, Inc.",
    "Ford Motor Company",
    "General Electric Company",
    "Halliburton Company",
    "Tesla Inc",
    "Royal Caribbean Cruises",
    "Macy's, Inc.",
    "Marathon Oil Corporation",
    "MGM Resorts International",
    "Norwegian Cruise Line Holdings Ltd.",
    "Occidental Petroleum Corporation",
    "Royal Caribbean Group",
    "Schlumberger Limited",
    "Simon Property Group, Inc.",
    "Southwest Airlines Co.",
    "The Boeing Company",
    "The Goldman Sachs Group, Inc.",
    "Marriott International",
    "The Kraft Heinz Company",
    "The Walt Disney Company",
    "United Airlines Holdings, Inc.",
    "Hilton Worldwide",
    "Wynn Resorts, Limited",
    "Xerox Holdings Corporation",
    "Yelp Inc.",
    "BP",
    "ExxonMobil",
    "Chevron",
    "General Motors",
    "Nike Inc",
    "Under Armour",
    "Moderna Inc",
                ]

In [ ]:
# get company ticker (stock symbol)
def getTicker(company_name):
    yfinance = "https://query2.finance.yahoo.com/v1/finance/search"
    user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'
    params = {"q": company_name, "quotes_count": 1, "country": "United States"}

    res = requests.get(url=yfinance, params=params, headers={'User-Agent': user_agent})
    data = res.json()

    company_code = data['quotes'][0]['symbol']
    return company_code

In [ ]:
tickers = []

for comp in company_name:
  try:
    x = getTicker(comp)
    print(x)
  except Exception as e:
    x = ''
    print(e)
  tickers.append(x)

## Collect stock price data for the year 2020

In [ ]:
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override() 
import pandas as pd

In [ ]:
ticker_list=[ 'AAL',
              'SHEL',
              'CCL',
              'BKNG',
              'DAL',
              'EXPE',
              'F',
              'GE',
              'HAL',
              'TSLA',
              'RCL',
              'M',
              'MRO',
              'MGM',
              'NCLH',
              'OXY',
              'RCL',
              'SLB',
              'SPG',
              'LUV',
              'BA',
              'GS',
              'MAR',
              'KHC',
              'DIS',
              'UAL',
              'HLT',
              'WYNN',
              'XRX',
              'YELP',
              'BP',
              'CVX',
              'GM',
              'NKE',
              'UA',
              'MRNA'
]

In [ ]:
# We can get data by our choice by giving days bracket
start_date= "2020-01-01"
end_date="2021-01-01"

files=[]

# Create a data folder in your current dir.
def SaveData(df, filename):
 df.to_csv(os.path.join(PTH,filename+'.csv'), index = None)


def getData(ticker, files):
  print(ticker)
  data = pdr.get_data_yahoo(ticker, start=start_date, end=end_date)
  data['date'] = (data).index
  data.index.name = None
  files.append(ticker)
  SaveData(data, ticker)


for tik in ticker_list:
 getData(tik, files)

In [ ]:
df1 = pd.read_csv(os.path.join(PTH,str(files[0])+'.csv'))
df1['ticker'] = files[0]

for i in range(1,len(ticker_list)):
 tmp= pd.read_csv(os.path.join(PTH,str(files[i])+'.csv'))
 tmp['ticker'] = files[i]
 df1 = pd.concat([df1, tmp]).reset_index(drop=True)

In [ ]:
df1.to_csv(os.path.join(PTH,'stocks_no_nbankruptcy.csv'), index = None)

In [ ]:
df1

,Open,High,Low,Close,Adj Close,Volume,date,ticker
0,28.980000,29.299999,28.650000,29.090000,28.982893,6451100,2020-01-02,AAL
1,28.270000,28.290001,27.340000,27.650000,27.548195,14008900,2020-01-03,AAL
2,27.190001,27.490000,27.080000,27.320000,27.219410,6105800,2020-01-06,AAL
3,27.559999,27.680000,27.059999,27.219999,27.119778,6105900,2020-01-07,AAL
4,27.100000,28.090000,27.070000,27.840000,27.737495,10496800,2020-01-08,AAL
...,...,...,...,...,...,...,...,...
9103,125.940002,129.699997,122.720001,123.389999,123.389999,12720600,2020-12-24,MRNA
9104,120.040001,122.879997,111.050003,111.400002,111.400002,31088200,2020-12-28,MRNA
9105,107.795998,116.250000,106.879997,114.389999,114.389999,23718800,2020-12-29,MRNA
9106,118.400002,118.941002,108.800003,111.129997,111.129997,23965500,2020-12-30,MRNA
9107,110.550003,113.550003,102.660004,104.470001,104.470001,23369900,2020-12-31,MRNA